h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
aside {
  margin: 0;
}

.cv {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}

.user {
  width: 1056px;
  display: flex;
  justify-content: flex-end;
}
#edit {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
#preview {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.Resume {
  height: 1056px;
  width: 816px;
  background-color: white;
  box-shadow: 0px 0px 4px 1px rgb(189, 189, 189);
  overflow: hidden;
  padding: 24px;
  /* display: grid; */
  /* grid-template-rows: minmax(auto, 1056px); */
}
.ResumeContent {
  max-height: 100%;
  /* height: fit-content; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "sidebar career";
  /* border: 2px solid; */
  overflow: hidden;
  gap: 16px;
}
