@import "~sanitize.css";
@import "~sanitize.css/forms.css";
@import "~sanitize.css/typography.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  min-height: 200vh;
  font-family: "Inter" sans-serif;
  background-color: rgb(238, 242, 246);
}
h1 {
  font-size: 48px;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 20px;
  line-height: 1.5;
  position: relative;
  width: fit-content;
  text-transform: uppercase;
}
h2::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -4px;
  height: 4px;
  border-radius: 8px;
  background-color: rgb(42, 175, 155);
}

h3 {
  font-size: 22px;
  color: gray;
  font-family: 700;
}
p {
  font-size: 16px;

  font-weight: 500;
}
ul {
  font-weight: 500;
}
/* The input element route */

/* input[type="text"] {
  border: none;
  overflow: visible;
  padding: 0;
  width: 100%;
}

textarea {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
} */
