.career__section {
  grid-area: career;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* min-height: min-content;
   */
  /* max-height: 656px;s */
  /* display: grid; */
  /* gap: 0px; */
  position: relative;
  border: 1px dotted rgb(195, 194, 194);
}
