aside {
  grid-area: sidebar;
  display: grid;
  grid-auto-flow: 1fr;
  gap: 24px;
  overflow: hidden;
  align-content: flex-start;
  position: relative;
  border: 1px dotted rgb(195, 194, 194);
}

/* aside h2 {
  margin-bottom: 16px;
} */
