aside {
  grid-area: sidebar;
  display: grid;
  grid-auto-flow: 1fr;
  gap: 16px;
  overflow: hidden;
  align-content: flex-start;
}

.contactInfo__section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* aside h2 {
  margin-bottom: 16px;
} */
